*.iml
.gradle
/planner/local.properties
/planner/.idea/workspace.xml
/planner/.idea/libraries
/planner/.DS_Store
/planner/build
/planner/app/build
/planner/captures
/planner/.externalNativeBuild
node_modules/
Web-App/src/config.js