/* Base Layout */

html, body{
    overflow: hidden;
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    background-color: #E0E0E0;
    padding-top:0px;
    padding-bottom:0px;
}

.container {
	text-align: center;
}

.logo{
	padding-bottom: 25px;
	padding-top: 35px;
}

.title{
	
}

.register {
	margin-top: 10px;
	cursor: pointer;
}

.loginInput {
	font-size:16px;
	width: 300px;
	margin-bottom: 10px;
	height:50px;
	padding:5px;
	border-radius: 3px;
	background-color: white !important;
	border-style:solid;
	border: none;
	padding-left:10px;
	padding-right:10px;
}

.description {
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
}

.loginButton {
	width: 300px;
	border-radius: 3px;
	background: #f39c12;
	color: white;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

#googleLogin {
	margin-top: 10px;
	background: white;
	color: #000000;
}

.loginButton:hover{
	opacity: 0.8;
}

.login {
	padding-top: 35px;
}

.error {
	color: red;
}

.success {
	color: green;
}

/* Mobile */

#firenote{
    display: block;
}

#firenote-mobile {
    display: none;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    background: white;
    justify-content: center;
}

@media only screen and (max-width: 760px) {
    #firenote{
        display:none;
    }

    #firenote-mobile{
        display: flex;
    }
}



#playStore {
    text-align: center;
}

#fireLogoMobile{
    padding-bottom: 30px;
}

#mobileTitle{
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
    font-size: 28px;
}

#phone {
    margin:auto;
    width: 100%;
    height: auto;
}

.mobileContainer {
    text-align: center;
}