/* Login */



/* Base Layout */

html, body{
    overflow: hidden;
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    background-color: #E0E0E0;
    padding-top:0px;
    padding-bottom:0px;
}

 
.container {
    height: 100%;
    min-height: 100%;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
}

.page{
    height: 100%;
    padding: 0;
    display: block;
}
.content{
    border-right-style: solid;
    border-color: #ededed;
    border-width: 1px;
    height:100%;
    padding: 0;
    padding-top:5px;
}


span{
     padding:4em 0 0 0;
    display:inline-block
}

.noMargin {
    margin: 0;
    padding: 0;
}

.header {
    padding: 0;
    height: 100%;
}

.headerRow {
    height:6%;
}

#sortNav{
    background: #EEEEEE;
    height: 25px;
    min-height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;    
}

.headerShadow{
    z-index: 100;
    -webkit-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.3);
        box-shadow: 0 4px 4px -2px rgba(0,0,0,0.3);
}

#firenote{
    display: block;
}

#master {
    height: 40px;
    padding: 5px;
    border-radius: 3px;
    border-style:solid;
    border-color: #9E9E9E;
    border-width: 1px;
}

#firenote-mobile {
    display: none;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 760px) {
    #firenote{
        display:none;
    }

    #firenote-mobile{
        display: flex;
    }
}

/* Visibility Modal */



/* Order Modal */

.modal-content {
    border: none;
    border-radius: 3px;
}

.modalHeader {
    background: #9E9E9E;
    color:white;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.orderDialog .modal-content {
}

.orderDialog .modal-body {
    padding-bottom: 0;
    padding-top: 0;
}

.orderCategory {
    border-bottom: 1px solid #ededed;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.orderCategory:hover {
    background: #ededed;
}

.orderCategory:last-child {
    border: none;
}

.orderCategory .material-icons {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.orderIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderText {
    padding-left: 0;
    font-size: 18px;
}

/* Mobile */

#playStore {
    text-align: center;
}

#fireLogoMobile{
    padding-bottom: 30px;
}

#mobileTitle{
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
    font-size: 28px;
}

#phone {
    margin:auto;
    width: 100%;
    height: auto;
}

.mobileContainer {
    text-align: center;
}


/* Element List */

#main{
}

#elementContainer{
    padding: 0;
    overflow: auto;
    overflow-x:hidden;
    height: 94%;
}

#headerElements {
    background: #EEEEEE;
    height: 100%;
    padding:0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
}

#headerContents {
    background: #EEEEEE;
    height: 100%;
    padding:0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
}

#title {
    padding:0;
    padding-left:8px;
    font-size:18px;
    margin:0;
    display: flex;
    align-items: center;
}

#titleText{
    padding: 0;
    display: flex;
    align-items: center;
}

#logo{
    margin-right:4px;
}

.titleIcons {
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right:20px;
    cursor: pointer;
}

.titleIcons > i {
    font-size:18px !important;
}

.element {
    height: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:5px;
    cursor: pointer;
}

#elements {
}

#bundle div:first-child{
    margin-top:0px !important;
}

#elements div:first-child{
    margin-top:0px !important;
}

.elementMeta {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: center;
}

.elementCategory {
    font-size: 10px;
}

.elementTitle {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.iconholder {
    padding: 0;
    height: 100%;
    max-width: 35px;
    display: flex;
    align-items: center;
    color:white;
    text-align: center;
}

.iconholder > i {
    font-size:16px !important;
}

.material-icons {
    width: 100%;
}

.elementLock{
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
}

.modalInput {
    width: 100%;
}

@media (min-width: 768px) {
    .passwordDialog {
    width: 300px !important;
    }

    .orderDialog {
        width: 400px !important;
    } 

    .visibilityDialog {
        width: 400px !important;
    }

}

/* Note */

.list {
    height: 100%;
}

#note{
    background: #FFFFA5;
    padding: 15px;
    font-size:18px;
    height: 100%;
    overflow-x: hidden;
    overflow: auto;
}

/* Bundle */

#bundle {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

#bundle > .element{
    margin-left: 0;
    margin-right: 0;
}

/* Checklist  */

.crossed {
	text-decoration: line-through;
}

.checklistText {
	overflow: hidden;
	text-overflow: ellipsis;
}

#checklist {
    height:100%;
    overflow: auto;
    overflow-x: hidden;
}

.checklistElement {
    width: 100% !important;
    height: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 30px;
    background: #FFFFA5;
    display: flex;
    align-items: center;
    font-size: 18px;
}

#checklist div:first-child{
    margin-top: 0px;
}

.checkbox {
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
    text-align: center;
}

/* Content section */

#content {
    height: 94%;
    padding: 5px;
    background-color:#F5F5F5;
}

#contentTitle {
    padding:0;
    padding-left:16px;
    font-size:18px;
    font-weight: 500;
    color:white;
    margin:0;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Media Queries */


@media (min-width: 992px) {
.container {
    width: 100% !important;
    }

    html, body{
        padding-top:0px;
        padding-bottom:0px;
    }
}

@media (min-width: 768px) {
.container {
    width: 100% !important;
    }

    html, body{
        padding-top:0px;
        padding-bottom:0px;
    }
}

@media (min-width: 1200px) {
.container {
    width: 1170px !important;
    }

    html, body{
        padding-top:10px;
        padding-bottom:10px;
    }
}

@media (max-width: 950px) {
    .elementDate {
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    text-align: center;
    text-overflow: ellipsis;
    }

    #note{
        font-size: 14px !important;
    }
}

@media (max-width: 1200px) {
    #note{
        font-size: 16px;
    }
}

@media (min-width: 950px) {
    .elementDate {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0;
    text-align: center;
    font-size: 14px;
    text-overflow: ellipsis;
}
}

/* Colors */

.noteColor1 {
    background:#F44336 !important;
}

.noteColor2 {
    background:#E91E63 !important;
}

.noteColor3 {
    background:#9C27B0 !important;
}

.noteColor4 {
    background:#2196F3 !important;
}

.noteColor5 {
    background:#4CAF50 !important;
}

.noteColor6 {
    background:#009688 !important;
}

.noteColor7 {
    background:#FFC107 !important;
}

.noteColor8 {
    background:#FF5722 !important;
}

.noteColor9 {
    background:#795548 !important;
}

.noteColorTransparent1 {
    background: rgba(244, 67, 54, 0.6);
}

.noteColorTransparent2 {
    background: rgba(233, 30, 99, 0.6);
}

.noteColorTransparent3 {
    background: rgba(156, 39, 176, 0.6);
}

.noteColorTransparent4 {
    background: rgba(33, 150, 243, 0.6);
}

.noteColorTransparent5 {
    background: rgba(76, 175, 80, 0.6);
}

.noteColorTransparent6 {
    background: rgba(0, 150, 136, 0.6);
}

.noteColorTransparent7 {
    background: rgba(255, 193, 7, 0.6);
}

.noteColorTransparent8 {
    background: rgba(255, 87, 34, 0.6);
}

.noteColorTransparent9 {
    background: rgba(121, 85, 72, 0.6);
}

.colorchoiceRedBrown{
    background-color: #F44336;
   
}

.brightRedBrown{
    background-color: #FFCDD2;
    box-shadow: inset 0 0 0 0 #F44336;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    transition: all ease 0.1s;
}


.colorchoicePink{
    background-color: #E91E63;
}

.brightPink{
    background-color: #F8BBD0;
    box-shadow: inset 0 0 0 0 #E91E63;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    transition: all ease 0.1s;
}


.colorchoiceViolet{
    background-color: #9C27B0;

}

.brightViolet{
    background-color: #E1BEE7;
    box-shadow: inset 0 0 0 0 #9C27B0;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    transition: all ease 0.1s;
}


.colorchoiceBlue{
    background-color: #2196F3;
}

.brightBlue{
    background-color: #BBDEFB;
    box-shadow: inset 0 0 0 0 #2196F3;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    transition: all ease 0.1s;
}

.colorchoiceGreen{
    background-color: #4CAF50;
}

.brightGreen{
    background-color: #C8E6C9;
    box-shadow: inset 0 0 0 0 #4CAF50;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    transition: all ease 0.1s;
}

.colorchoiceBlueGreen{
    background-color: #009688;
}

.brightBlueGreen{
    background-color: #B2DFDB;
    box-shadow: inset 0 0 0 0 #009688;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    transition: all ease 0.1s;
}

.colorchoiceYellow{
    background-color: #FFC107;
}

.brightYellow{
    background-color: #FFF9C4;
    box-shadow: inset 0 0 0 0 #FFC107;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    transition: all ease 0.1s;

}

.colorchoiceOrange{
    background-color: #FF5722;
}

.brightOrange{
    background-color: #FFCCBC;
    box-shadow: inset 0 0 0 0 #FF5722;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    transition: all ease 0.1s;
}

.colorchoiceBrown{
    background-color: #795548;
}

.brightBrown{
    background-color:   #D7CCC8;
    box-shadow: inset 0 0 0 0 #795548;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    transition: all ease 0.1s;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}



